<%# message_string = '{:attachment=>{:type=>"template", :payload=>{:template_type=>"generic", :elements=>[{:title=>"Shirt Bike People", :image_url=>"https://cdn.shopify.com/s/files/1/1258/8379/products/2592_3908b53c8e-bike-people_shirt.jpeg?v=1461690582", :subtitle=>"69.95$", :buttons=>[{:type=>"postback", :payload=>"6273785095: info", :title=>"More info"}, {:type=>"postback", :payload=>"6273785095: pictures", :title=>"More pictures"}, {:type=>"postback", :payload=>"6273785095: stock", :title=>"Check stock"}]},{:title=>"Shirt Bike People", :image_url=>"https://cdn.shopify.com/s/files/1/1258/8379/products/2592_3908b53c8e-bike-people_shirt.jpeg?v=1461690582", :subtitle=>"69.95$", :buttons=>[{:type=>"postback", :payload=>"6273785095: info", :title=>"More info"}, {:type=>"postback", :payload=>"6273785095: pictures", :title=>"More pictures"}, {:type=>"postback", :payload=>"6273785095: stock", :title=>"Check stock"}]},{:title=>"Shirt Bike People", :image_url=>"https://cdn.shopify.com/s/files/1/1258/8379/products/2592_3908b53c8e-bike-people_shirt.jpeg?v=1461690582", :subtitle=>"69.95$", :buttons=>[{:type=>"postback", :payload=>"6273785095: info", :title=>"More info"}, {:type=>"postback", :payload=>"6273785095: pictures", :title=>"More pictures"}, {:type=>"postback", :payload=>"6273785095: stock", :title=>"Check stock"}]},{:title=>"Shirt Star Wars Space Ships", :image_url=>"https://cdn.shopify.com/s/files/1/1258/8379/products/2574_99a2cacf28-star-wars-space-ships_shirt.jpeg?v=1461690585", :subtitle=>"69.95$", :buttons=>[{:type=>"postback", :payload=>"6273785991: info", :title=>"More info"}, {:type=>"postback", :payload=>"6273785991: pictures", :title=>"More pictures"}, {:type=>"postback", :payload=>"6273785991: stock", :title=>"Check stock"}]}]}}}'
%>

<%# message = (message_string.gsub(":", "").gsub('=>', ':')).to_json %>

<%# message_string.gsub!(/([{,]\s*):([^>\s]+)\s*=>/, '\1"\2"=>')%>

<%# message_string.gsub!(/([{,]\s*)([0-9]+\.?[0-9]*)\s*=>/, '\1"\2"=>')%>

<%# message_string.gsub!(/([{,]\s*)(".+?"|[0-9]+\.?[0-9]*)\s*=>\s*:([^,}\s]+\s*)/, '\1\2=>"\3"')%>

<%# message_string.gsub!(/([\[,]\s*):([^,\]\s]+)/, '\1"\2"')%>

<%# message_string.gsub!(/([{,]\s*)(".+?"|[0-9]+\.?[0-9]*)\s*=>/, '\1\2:')%>

<%# message = JSON.parse(message_string).with_indifferent_access %>
<!-- Extracting the different element from the message (if multiple than carousel) -->
<% elements = message[:attachment][:payload][:elements] %>
<% text = message[:attachment][:payload][:text] %>
<% buttons = message[:attachment][:payload][:buttons] %>
<% image = message[:attachment][:payload][:url] %>



<!-- Identifying which type of message is the bot sending us -->

<!-- First type identified: the 'Generic' template -->
<% if message[:attachment][:payload].has_key?(:template_type) && message[:attachment][:payload][:template_type] == "generic" %>

  <div class="carousel">
    <!-- Iterating on the elements of the mssage in order to display all of them -->
    <% elements.each do |element| %>
      <div class="generic_card">
        <div class="structured-image">
          <%= link_to root_path do %>

             <%= image_tag(element.fetch(:image_url), width: '200')%>
          <% end %>
        </div>
        <div class="structured-text">
          <p><strong><%= element.fetch(:title) %></strong></p>
          <% if element[:subtitle].present? %>
            <p><%= element.fetch(:subtitle) %></p>
          <% end %>
        </div>

        <!-- Extracting the different buttons in the element (if multiple than multiple CTA)-->
        <% buttons = element[:buttons] %>
        <%# buttons = element.select {|k,v| k === "buttons"} %>

        <!-- Iterating on the buttons in order to display all the CTA -->
        <% buttons.each do |button| %>
          <div class="structured-text text-center">
            <p style="color:#0084FF;"><%= button.fetch(:title) %></p>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>



<!-- Second type identified: the 'Button' template -->
<% elsif message[:attachment][:payload].has_key?(:template_type) && message[:attachment][:payload][:template_type] == "button" %>

  <div class="carousel">
    <!-- Iterating on the elements of the mssage in order to display all of them -->
    <div class="generic_card">
      <div class="structured-text">
        <%= text %>
      </div>

      <!-- Iterating on the buttons in order to display all the CTA -->
      <% buttons.each do |button| %>
        <div class="structured-text text-center">
          <p style="color:#0084FF;"><%= button.fetch(:title) %></p>
        </div>
      <% end %>
    </div>
  </div>



<!-- Third type identified: the 'receipt' template -->
<% elsif message[:attachment][:payload].has_key?(:template_type) && message[:attachment][:payload][:template_type] == "receipt" %>
  <%=image_tag("messenger_receipt_sample.png", width: '300')%>




<!-- Fourth and last type identified: the 'image' template -->
<% else %>
  <%= image_tag(image, width: '200')%>

<% end %>
