
<%# message = eval(message) %>
<% elements = message[:attachment][:payload][:elements] %>
<% text = message[:attachment][:payload][:text] %>
<% buttons = message[:attachment][:payload][:buttons] %>
<% image = message[:attachment][:payload][:url] %>



<!-- First type identified: the 'Generic' template -->

<div class="carousel flexbox-columns-end">
    <!-- Iterating on the elements of the mssage in order to display all of them -->
  <% unless elements.nil? %>
    <% elements.each do |element| %>
      <% unless element.nil? %>
      <div class="generic_card">
        <div class="structured-image">
        <% unless element[:image_url].nil? %>
          <%= link_to root_path do %>
             <%= image_tag(element[:image_url], width: '200')%>
          <% end %>
        <% end %>
        </div>
        <div class="structured-text">
          <p><strong><%= element[:title] %></strong></p>
          <% if element[:subtitle].present? %>
            <p><%= element[:subtitle] %></p>
          <% end %>
        </div>

        <!-- Extracting the different buttons in the element (if multiple than multiple CTA)-->
        <% buttons = element[:buttons] %>
        <%# buttons = element.select {|k,v| k === "buttons"} %>

        <!-- Iterating on the buttons in order to display all the CTA -->
      <% unless buttons.nil? %>
        <% buttons.each do |button| %>
          <div class="structured-button text-center">
            <p style="color:#0084FF;"><%= button[:title] %></p>
          </div>
        <% end %>
      <% end %>
      <% end %>
      </div>
    <% end %>
  <% end %>
  </div>






