<%# message_string = '{:attachment=>{:type=>"template", :payload=>{:template_type=>"button", :text=>"Do you want to browse through the brands, our categories or by price range?", :buttons=>[{:type=>"postback", :title=>"Categories", :payload=>"category"}, {:type=>"postback", :title=>"Brands", :payload=>"brand"}, {:type=>"postback", :title=>"Price range", :payload=>"pricerange"}]}}}'
%>

<%# message = eval(message) %>
<% elements = message[:attachment][:payload][:elements] %>
<% text = message[:attachment][:payload][:text] %>
<% buttons = message[:attachment][:payload][:buttons] %>
<% image = message[:attachment][:payload][:url] %>


 <% p "STRUCTURED" %>
<!-- Identifying which type of message is the bot sending us -->

<!-- First type identified: the 'Generic' template -->
<% if message[:attachment][:payload].has_key?(:template_type) && message[:attachment][:payload][:template_type] == "generic" %>

  <div class="carousel">
    <!-- Iterating on the elements of the mssage in order to display all of them -->
    <% elements.each do |element| %>
     <% unless element.nil? %>
      <div class="generic_card">
        <div class="structured-image">
          <%= link_to root_path do %>

             <%= image_tag(element.fetch(:image_url), width: '200')%>
          <% end %>
        </div>
        <div class="structured-text">
          <p><strong><%= element.fetch(:title) %></strong></p>
          <% if element[:subtitle].present? %>
            <p><%= element.fetch(:subtitle) %></p>
          <% end %>
        </div>

        <!-- Extracting the different buttons in the element (if multiple than multiple CTA)-->
        <% buttons = element[:buttons] %>
        <%# buttons = element.select {|k,v| k === "buttons"} %>

        <!-- Iterating on the buttons in order to display all the CTA -->
        <% buttons.each do |button| %>
          <div class="structured-text text-center">
            <p style="color:#0084FF;"><%= button.fetch(:title) %></p>
          </div>
        <% end %>
      <% end %>
      </div>
    <% end %>
  </div>



<!-- Second type identified: the 'Button' template -->
<% elsif message[:attachment][:payload].has_key?(:template_type) && message[:attachment][:payload][:template_type] == "button" %>
<%  p "BUTTON" %>
  <div class="carousel">
    <!-- Iterating on the elements of the mssage in order to display all of them -->
    <div class="generic_card">
      <div class="structured-text">
        <%= text %>
      </div>

      <!-- Iterating on the buttons in order to display all the CTA -->
      <% buttons.each do |button| %>
        <div class="structured-text text-center">
          <p style="color:#0084FF;"><%= button.fetch(:title) %></p>
        </div>
      <% end %>
    </div>
  </div>



<!-- Third type identified: the 'receipt' template -->
<% elsif message[:attachment][:payload].has_key?(:template_type) && message[:attachment][:payload][:template_type] == "receipt" %>
  <%= image_tag("messenger_receipt_sample.png", width: '300')%>




<!-- Fourth and last type identified: the 'image' template -->
<% else %>
  <%= image_tag(image, width: '200')%>

<% end %>
