<% if message.sender == "user" %>
  <div class="message-container flexbox-start flex-item">
    <div class="message-content flex-item flexbox-columns">
      <div class="date"><%= message.created_at.strftime("%b %e, %l:%M%P") %></div>
      <ul class="list-unstyled list-inline">
        <li><%= image_tag(@room.profile_picture, class: "micro-avatar-tab")%></li>
        <li class="user_message">
          <%= simple_format message.content %>
        </li>
      </ul>
    </div>
  </div>
<% else %>
  <div class="flexbox-columns-end">
    <ul class="message-header list-unstyled list-inline flex-item">
      <li><h6>Bot</h6></li>
      <li class="date"><%= message.created_at.strftime("%b %e, %l:%M%P") %></li>
    </ul>
    <div class="bot_message">
       <%= simple_format message.content.gsub('{:text=>"', "").gsub('"}', "").html_safe %>
    </div>
  </div>
<% end %>
