<div class="container features_page">

  <% @non_footer_action %>

  <div class="left-menu">
    <p><strong>Summary</strong></p>
    <ul class="list-unstyled" style="line-height: 30px;">
      <li>Web plugins</li>
      <li>Customer matching</li>
      <li>Messenger code</li>
      <li>Structured templates</li>
      <li>Carousel</li>
      <li>Geolocation</li>
      <li>User control</li>
    </ul>
  </div>

  <div class="feature-display">
    <h2>Features</h2>

    <h3>Web Plugins</h3>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <p>You can drop on of these 2 plugins onto your website that work on desktop and mobile web. When people click the "Send to Messenger" plugin, you can initiate a conversation with them in Messenger. The "Message Us" plugin takes the person directly to Messenger and allows them to initiate a conversation with you. On desktop, the person will be sent to messenger.com and on mobile they'll be sent to the Messenger native app.</p>
      </div>
      <div class="col-xs-12 col-sm-6 text-center">
      <%=image_tag("web_plugin.png", class: "feature_image")%>
      </div>
    </div>

    <hr>

    <h3>Order updates</h3>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <p>Order update allow you to reach people in Messenger if you have their phone number and their consent to be contacted by you. In conversations on Messenger, people will see you as a brand and not just a short code. Conversations initiated through order updates will be received as Message Requests allowing people to be reached only by the bots they want to communicate with.</p>
      </div>
      <div class="col-xs-12 col-sm-6 text-center">
      <%=image_tag("order_updates.png", class: "feature_image")%>
      </div>
    </div>

    <hr>

    <h3>Messenger Codes</h3>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <p>Place a Messenger Code anywhere and people can scan it to start a conversation with you.It could be on your website, on your store front, on your product display or into an ad.</p>
        <p>For instance, a beer brand could stick them on to bar tables so that customer can order directly through their phones.</p>
      </div>
      <div class="col-xs-12 col-sm-6 text-center">
      <%=image_tag("my_hipster_store_messenger_code.png", class: "feature_image")%>
      </div>
    </div>

    <hr>

    <h3>Structured Templates</h3>
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <p>You can format your messages in a variety of ways. Send simple text and images, or use our structured templates to customize your message bubbles. Structured templates allow you to render an image, text and multiple buttons in one message.</p>
      </div>
      <div class="col-xs-12 col-sm-8 text-center">
      <%=image_tag("structured_templates.png", class: "feature_image_large")%>
      </div>
    </div>

    <hr>

    <h3>Carousels</h3>
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <p>You can also render a carousel, allowing you to send a list of items in a compact way. Use buttons to include a call-to-action, which can open a web page or trigger a callback.</p>
      </div>
      <div class="col-xs-12 col-sm-8 text-center">
      <%=image_tag("carousel.png", class: "feature_image_large")%>
      </div>
    </div>

    <hr>

    <h3>Geolocation</h3>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <p>At some point in the conversation you can ask your customer to share his current location details. This way you can point him/her towards your closest store.</p>
        <p>For instance, if you are a cinema company, you can let people look for the one they want in a carrousel from the closest to the farthest</p>
      </div>
      <div class="col-xs-12 col-sm-6 text-center">
      <%=image_tag("geolocation.jpg", class: "feature_image")%>
      </div>
    </div>

    <hr>

    <h3>User Controls</h3>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <p>Facebook have updated Messenger to provide people with even more ways to control the conversation and make sure they can reach the businesses they care about.</p>
        <p>This way, it is easy for people to opt-out and your customer privacy is respected.</p>
      </div>
      <div class="col-xs-12 col-sm-6 text-center">
      <%=image_tag("user_control.png", class: "feature_image")%>
      </div>
    </div>

  </div>
</div>
