<div class="container">
  <div class="row bot_new_form header_spacing">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <%= simple_form_for @bot do |f| %>
        <%= f.error_notification %>
        <div class="form-inputs">
          <%= f.input :brand, :label => "Bot Name" %>
          <%= f.input :bot_description, :label => "Bot Description" %>
          <%= f.input :emission_endpoint, :label => "Endpoint to send updates" %>
          <label>NLP service used</label></br>
          <%= f.select(:service, ["-", "MMS", "Wit", "API.ai", "Recast.ai"], {:include_blank => false},:label => "NLP service used") %>
          <%= f.input :access_token, :label => "Access token for this service" %>
          <%= f.simple_fields_for :entities do |p| %>
            <%= render 'entity_fields', f: p %>
          <% end %>
          <div>
            <%= link_to_add_association 'Add more parameters', f, :entities %>
          </div>
        </div>
        <div class="form-actions text-center">
          <%= f.button :submit, "Submit", :class => "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

