<h4>brand: <%= @bot.brand %> </h4>
<h4>sending updates to: <%= @bot.reception_endpoint %> </h4>
<h4>API secret key</h4>
<input type="password" id="password" name="password" class="showpassword" value="<%= @bot.secret %>">
</br>
<h4>API Key</h4>
<input value="<%= @bot.api_key %>">
<% @bot.parameters.each do |p| %>
  <%= p.name %>: <%= p.input_type %></br>
<% end %>
