
<div class="bot_new_form header_spacing display-flex">
  <div class="bot-request-details">
    <h3>Bot details</h3>
    <p><strong>Brand:</strong> <%= @bot.brand %> </p>
    <p><strong>Sending updates to:</strong> <%= @bot.emission_endpoint %> </p>
    <p><strong>Service used:</strong> <%= @bot.service %> </p>
    <p><strong>Access token:</strong> <%= @bot.access_token %> </p>
    <% @bot.entities.each do |p| %>
      <strong><%= p.name %>:</strong> <%= p.input_type %></br>
    <% end %>
  </div>

  <div class="api_details">
    <h3>API info</h3>
    <p>API secret key</p>
    <input type="password" id="password" name="password" class="showpassword" value="<%= @bot.secret %>">
    </br>
    <p>API Key</p>
    <input value="<%= @bot.api_key %>">
  </div>
</div>
