<div class="container">
  <div class="row">

    <!-- Context dashboard on the left hand side -->
    <div class="col-sm-4" id="conversation-list">
      <div class="panel panel-default" id="<%= @session.id %>">
        <div class="panel-heading">
          <h4>Current context</h4>
        </div>
        <div class="panel-body fixed-height">
          <div class="flexbox-columns-start">
            <label for="">Browsing choices</label>
            <select id="browsing_choices">
              <option value="volvo">Volvo</option>
              <option value="saab">Saab</option>
              <option value="mercedes">Mercedes</option>
              <option value="audi">Audi</option>
            </select>
            <label for="">Category</label>
            <select id="category">
              <option value="volvo">Volvo</option>
              <option value="saab">Saab</option>
              <option value="mercedes">Mercedes</option>
              <option value="audi">Audi</option>
            </select>
            <label for="">Brand</label>
            <select id="brand">
              <option value="volvo">Volvo</option>
              <option value="saab">Saab</option>
              <option value="mercedes">Mercedes</option>
              <option value="audi">Audi</option>
            </select>
            <label for="">Price range</label>
            <select id="price_range">
              <option value="volvo">Volvo</option>
              <option value="saab">Saab</option>
              <option value="mercedes">Mercedes</option>
              <option value="audi">Audi</option>
            </select>
            <label for="">Product</label>
            <select id="product">
              <option value="volvo">Volvo</option>
              <option value="saab">Saab</option>
              <option value="mercedes">Mercedes</option>
              <option value="audi">Audi</option>
            </select>
            <label for="">Variant</label>
            <select id="variant">
              <option value="volvo">Volvo</option>
              <option value="saab">Saab</option>
              <option value="mercedes">Mercedes</option>
              <option value="audi">Audi</option>
            </select>
            <label for="">Delivery method</label>
            <select id="delivery_method">
              <option value="volvo">Volvo</option>
              <option value="saab">Saab</option>
              <option value="mercedes">Mercedes</option>
              <option value="audi">Audi</option>
            </select>
            <label for="">Delivery address</label>
            <select id="delivery_address">
              <option value="volvo">Volvo</option>
              <option value="saab">Saab</option>
              <option value="mercedes">Mercedes</option>
              <option value="audi">Audi</option>
            </select>
            <label for="">City</label>
            <select id="city">
              <option value="volvo">Volvo</option>
              <option value="saab">Saab</option>
              <option value="mercedes">Mercedes</option>
              <option value="audi">Audi</option>
            </select>
            <label for="">Selected store</label>

            <input type="submit" class="form-control" id="context-input"></input>
          </div>
        </div>
      </div>
    </div>


    <!--     Session itself -->
    <div class="col-sm-8" id="message-list">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4><%= @room.first_name %></h4>
        </div>
        <div class="panel-body fixed-height">
          <div id="wrapper">
            <div id="<%= @room.id %>" class="messages flexbox-columns-end flex-item">
              <% @room.messages.order(created_at: :asc).each do |message| %>
                <% if message["attachment"].present? %>
                  <%= render "messages/structured_message", message: message %>
                <% else %>
                  <%= render "messages/msg", message: message %>
                <% end %>
              <% end %>
            </div>
          </div>
          <div class="message-input" id="newMessage">
          <!--   <textarea id="newTextarea" placeholder="Answer here..."></textarea> -->
            <!-- <div class="actions flexbox hidden">
              <div class="user_input_demo"> -->
          <form>
            <input type="text" data-behavior="room_speaker" style="background-color: white; width: 346px; height: 36px;">
          </form>
        </div>
            <!--   <button class="btn btn-stop hidden">Cancel</button>
              <button class="btn btn-send hidden">Send</button> -->
     <!--        </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>

