console.log("UPDATE");
$(".messages").empty();
$(".panel-heading").id = <%= @room.id %>
$(".details-body").empty();
<% @messages.each do |m| %>
  <% if m.content.present? %>
    <% if m.content.include?("attachment") %>
      <% if eval(m.content)[:attachment][:payload][:template_type] == "generic" %>
        $(".messages").append("<%= j render 'messages/structured_message_carousel', message: eval(m.content) %>");
      <% elsif eval(m.content)[:attachment][:payload][:template_type] == "button" %>
         $(".messages").append("<%= j render 'messages/structured_message_button', message: eval(m.content) %>");
      <% elsif eval(m.content)[:attachment][:payload][:template_type] == "receipt" %>
        $(".messages").append("<%= j render 'messages/structured_message_receipt', message: eval(m.content) %>");
      <% else %>
        $(".messages").append("<%= j render 'messages/text_message', message: m %>");
      <% end %>
    <% else %>
      $(".messages").append("<%= j render 'messages/text_message', message: m %>");
    <% end %>
  <% end %>
<% end %>
$("#wrapper").scrollTop($("#wrapper")[0].scrollHeight)

$(".details-body").append("<h4>Chatbot details</h4>\
                          <p>Company name: <%= j link_to @room.bot.brand, bot_path(@room.bot) %></p>\
                          <p>Creation date: <%= @room.bot.created_at.strftime('%d %B %Y') %></p>\
                          <p>Chat main purpose:</p>\
                          <p># of sessions:</p>\
                          <p># of users: </p>\
                          <h4>User details</h4>\
                          <p>First name: <%= @room.first_name %></p>\
                          <p>Local time:</p>\
                          <p># of sessions:</p>\
                          <h4>Chatbot / User history</h4>\
                          <p>First conversation date:</p>\
                          <p>Total number of sessions:</p>\
                          <p>Current conversation starting date:</p>\
                          <p># of messages in current session:</p>\
                          <p># of help required in this session:</p>");
console.log("UPDATE");
